<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Benchtool</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css" integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
</head>

<body>
  <div class ="container-fluid">
    <nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header"><a href="/"> <img src="{% url 'media' path='benchtool.png' %}" style="width:100%;"/></a></div>
	<div class="navbar-header"><a href="https://www.tacc.utexas.edu"> <img src="{% url 'media' path='TACC_logo.png' %}" style="max-width:50%;"/></a></div>
     </nav>

	<br/>

    {% block content %}
    {% endblock %}    


    </div> 
  </body>
</html>
